.form {
  width: 100%;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  label {
    flex: 0 0 10rem;
    color: $white;
  }

  input {
    flex: 1;
    padding: $separation / 4;
    border-radius: 1rem;
    border: none;
  }
}

.alert {
  padding: $separation / 2;
  text-align: center;
  color: $white;
  display: block;
  border-radius: 3rem;
  &.error {
    background-color: rgb(194, 0, 0);
  }
}
