body {
  background-color: $black;
}

.container-barbershop {
  @include tablet {
    height: 100vh;
    @include grid(2, $separation / 2);
  }

  .image {
    height: 30rem;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center center;
    @include tablet {
      height: auto;
    }
  }
}

.app {
  width: 95%;
  margin: 0 auto;
  padding-top: $separation / 2;

  .section {
    display: none;
    margin-top: $separation / 2;
  }
}

.show-section {
  display: block !important;
}
